---
import Layout from "../layouts/Layout.astro";
import { getNotes } from "../data/note";
const notes = await getNotes();

console.log(notes)
---

<script>
document.addEventListener("keydown", function (event) {
    if (event.key === "a") {
        const content = prompt("Enter the content");
        if (content == null) return;
        const title = prompt("Enter the title");
        if (title == null) return;
        fetch("/api/create-note/", {
            method: "post",
            body: JSON.stringify({ title, content }),
        })
            .then((res) => res.json())
            .then(() => {
                location.reload();
            });
    }
});
</script>

<script is:inline>
async function copy (event) {
    const content = event.target.getAttribute("data-content")
    const title = event.target.getAttribute("data-title")
    await navigator.clipboard.writeText(content);
    Toastify({
        text: `"${title}" copied!`,
        duration: 3000,
        gravity: "bottom", 
        position: "left", 
        style: { background: "black", borderRadius: "1rem"},
    }).showToast();
};
</script>

<Layout title="Note taker">
    <div class="grid grid-cols-2 lg:grid-cols-4 2xl:grid-cols-5 gap-6 mt-10">
        {
        notes.map(({ title, content }, index) => (
            <div
                id={`${index}`}
                class="product-font bg-white p-4 text-black rounded-xl transition duration-300 border border-gray-100 shadow-lg"
            >
                <div class="flex mb-2 items-start">
                    <h4 class="font-bold text-xl mr-auto">{title}</h4>
                    <i onclick="copy(event)" data-title={title} data-content={content} class="fa-solid fa-copy cursor-pointer hover:scale-150 transition-all duration-300 p-2"></i>
                </div>
                <p class="text-sm text-gray-500">{content.slice(0, 10)}...</p>
            </div>
        ))
        }
    </div>
</Layout>
